.navbar {
  //Farba pozadia a textu pre zoznam kategorii
  &.navbar-categories { //todo: strasne srackovo to vyzera
    background-color: #46464d;
    div {
      border-bottom-color: $text-color-white-lighter;
      a {
        color: $text-color-white-lighter;
      }
    }
  }
  //Farba search baru
  &.navbar-search {
    background-color: #46464d;
    input {
      background-color: $backgorund-color-lighter-1;
      border-color: $backgorund-color-lighter-2;
      &:focus {
        outline: none;
      }
    }
  }

}


