.profile-hover { //Todo: Vyzera to srackovo a tie selektori su katastrofa
  .row:nth-of-type(1) {
    .col-md-4 {
      img {
        border-color: $backgorund-color-lighter-2;
      }
    }
    .col-md-1 {
      > span {
        background-color: $backgorund-color-lighter-2 !important;
        border-color: $backgorund-color-lighter-1 !important;
      }
    }
  }
  .row:nth-of-type(2) {
    background-color: $backgorund-color-lighter-2 !important;
    .col-md-3 {
      #user-circular-pb {
        svg {
          path:first-of-type {
            stroke: $backgorund-color-lighter-1 !important;
          }
        }
      }
    }
    .col-md-5 {
      span.pb {
        span.pb-text {
          span {
            color: $backgorund-color-primary;
          }
        }
      }
    }
  }
}