$text-color-white: #c6c6c6;
$text-color-white-lighter: #efefef;
$text-color-white-darker: #9c9c9c;
$backgorund-color-primary: #111;
$backgorund-color-darker: #111;
$backgorund-color-lighter-1: #2e2f34;
$backgorund-color-lighter-2: #38393f;
$backgorund-color-lighter-3: #4c4d55;
